# PHP
# Test and package your PHP application.
# Add steps that run tests, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/php

pool:
  vmImage: 'Ubuntu 16.04'


variables:
  phpVersion: 7.2

steps:
- script: |
    sudo update-alternatives --set php /usr/bin/php$(phpVersion)
    sudo update-alternatives --set phar /usr/bin/phar$(phpVersion)
    sudo update-alternatives --set phpdbg /usr/bin/phpdbg$(phpVersion)
    sudo update-alternatives --set php-cgi /usr/bin/php-cgi$(phpVersion)
    sudo update-alternatives --set phar.phar /usr/bin/phar.phar$(phpVersion)
    php -version
  displayName: 'Use PHP version $(phpVersion)'

- script: composer install
  displayName: 'composer install'



- script: |
    sudo phpunit --filter testBasicExample Example_Test $(System.DefaultWorkingDirectory)/tests/Example_Test.php --log-junit $(System.DefaultWorkingDirectory)/tests/tttt.xml
    sudo phpunit --filter testBasicExample2 Example_Test $(System.DefaultWorkingDirectory)/tests/Example_Test.php --log-junit $(System.DefaultWorkingDirectory)/tests/rrrr.xml
  displayName: 'Run tests with phpunit'

- task: PublishTestResults@2
  inputs:
    testResultsFormat: 'JUnit'
    testResultsFiles: '**/*.xml'
    searchFolder: '$(System.DefaultWorkingDirectory)/tests'
    failTaskOnFailedTests: true
          

- task: PublishCodeCoverageResults@1
  inputs:
    codeCoverageTool: 'JaCoCo'
    summaryFileLocation: 
    pathToSources: '$(System.DefaultWorkingDirectory)/tests/'

- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: '$(system.defaultWorkingDirectory)'
    includeRootFolder: false
#- task: PublishBuildArtifacts@1
